{% extends "auctions/layout.html" %}

{% block body %}
<div class="col-12">
    {% if user.is_authenticated %}
    <!-- Watchlist Removal-->
    {% if OnWatchList %}
    <form method="POST" action="{% url 'watchlist_remove' id=Info.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"> Remove From Watch List</button>
    </form>
    {% else %}
    <!-- Watchlist Adder-->
    <form method="POST" action="{% url 'watchlist_add' id=Info.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success"> Add to Watch List</button>
    </form>
    {% endif %}
    {% endif %}
</div>
<div class="row">
    <div class="col-12">
        <h2>Item: {{ Info.Title }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <p>Desc: {{ Info.Description }}</p>

    </div>
    <div class="col-4">
        <img src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" srcset="{{ Info.Image.url }}"
            class="img-fluid rounded-start" style="object-fit: scale-down; max-width: 200px; max-height: 200px;"
            alt="{{ Info.Title }}">
        <p>Price: ${{ Info.Price }}</p>
    </div>
    <div class="col-4">
        <p>Owner: {{ Info.Owner }}</p>
        <p>Category: {{ Info.Item_Category }}</p>
    </div>
</div>


{% endblock %}